$primariColor1: hsl(0, 36%, 70%);
$primariColor2: hsl(0, 93%, 68%);
$neutralColor: hsl(0, 6%, 24%);
$gradientColor1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$gradientColor2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
$fontSize: 1.5rem;
